---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <updated>{% if collections.everything.length %}{{ collections.everything[0].date | isoDate }}{% else %}{{ "2026-03-03" | isoDate }}{% endif %}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.author }}</name>
  </author>
  {% for item in collections.everything %}
  <entry>
    <title>{{ item.data.title }}</title>
    <link href="{{ site.url }}{{ item.url }}"/>
    <updated>{{ item.date | isoDate }}</updated>
    <id>{{ site.url }}{{ item.url }}</id>
    <content type="html">{{ item.templateContent | safe }}</content>
  </entry>
  {% endfor %}
</feed>
